<table>
	<thead>
		<th>ID</th>
		<th>Full name</th>
		<th>Email</th>
		<th>Password</th>
		<th>Products</th>
	</thead>
	<tbody>
		<?node
			for (var i in users){
			    write("<tr>");
			    write("<td>");
				write(users[i].products_id);
				write("</td>");
				write("<td>");
				write(users[i].full_name);
				write("</td>");
				write("<td>");
				write(users[i].email);
				write("</td>");
				write("<td>");
				write(users[i].password);
				write("</td>");
				write("<td>");
				write(users[i].products_name);
				write("</td>");
				
				write("</tr>");
			}
		?>
	</tbody>
</table>

